.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.*
*.db
*.db-journal
/test-results/
/playwright-report/
/playwright/.cache/
/.idea/integration-testing-playground.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
